*.js                        @centreon/owners-react
packag*.json                @centreon/owners-react

*.xml                       @centreon/owners-java

src/main/java               @centreon/owners-java
src/main/webapp             @centreon/owners-react

# Pipelines Codeowners rules
.github/**                    @centreon/owners-pipelines
.yamlfix.toml                 @centreon/owners-pipelines

# Security Codeowners rules
.gitleaks.toml                @centreon/owners-security
.gitleaksignore               @centreon/owners-security
.githooks/pre-commit          @centreon/owners-security
**/secu-*.yml                 @centreon/owners-security